:root {
  /* definición variable */
  --bg-color: #fff;
  --main-brand-color: #F9B633;
  --main-brand-color-light: #FFDE5B;
  --secondary-brand-color: #D60021;
  --secondary-brand-color-light: #DC2626;
  --border-color: #000;
  --main-text-color: #000;
  --secondary-bg-light-color: #6B7280;
  --main-text-hover-color: #4B5563;
  --secondary-text-color: #FFF;
  font-family: 'Raleway', sans-serif;
}

.main-bg {
  background-color: var(--main-brand-color-light);
  color: var(--main-text-color);
}

.main-content {
  width: 90%;
  margin: 0 auto;
  max-width: 920px;
}
